TOKENIZER:
  MIN_LEN: 2
  BACKEND: "simple"  # options: "simple", "spacy"
  LOWERCASE: true
  ASCII_FOLD: true
  REMOVE_STOPWORDS: true
  STEM: false
  NUMBER_NORMALIZE: true
  SPACY_MODEL: "blank"
  SPACY_DISABLE: null
  NUM_WORKERS: 0 # set to 0 to use os.cpu_count()
  SCAN_COUNT: 100000
  FLUSH_EVERY: 1000
  STORE_POSITIONS: true
  STORE_TOKENS: false

REDIS_HOST: "localhost"
REDIS_PORT: 6379
DOCUMENTS: "data/msmarco-docs.tsv"
DATA_PATH: "data/"
BLOCK_PATH: "data/blocks/"
HEADER_BLOCK_FILE: "SEAB\x01"
HEADER_INDEX_FILE: "SEAI\x01"
HEADER_POSTING_FILE: "SEAP\x01"
HEADER_DOC_DICT_FILE: "SEAD\x01"
LOG_PATH: "data/log.txt"
REDIS_PROD: 
  HOST: "seenar.cloud.sci.hpi.de"
  PORT: 6379
  USE: false

SEARCH:
  MAX_RESULTS: 10

INGESTION:
  NUM_DOCUMENTS: 1000
  BATCH_SIZE: 100

PERF_RUNNER:
  MODE: "ingest" # "ingest" or "query"
  DOCUMENTS_PATH: "data/msmarco-docs.tsv"
  BATCH_SIZE: 400
  ITERATIONS: 100
  CLEANUP: true
  QUERIES_PATH: "queries/sample_queries.txt"

QUERY:
  MAX_PHRASE_LEN: 5

STORAGE:
  TYPE: "filesystem" # options: "redis"
  CURSOR_SIZE: 10
  PATH_DOCS: "data/storage_docs.json"
  PATH_TOKENS: "data/storage_tokens.json"
  KEEP_DOCUMENTS: false
  LOAD_DOCUMENTS: false

